.order-books-lastprice {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 6px 12px 6px 6px;
	background: rgba(20, 16, 41, 0.02);
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 5px 0 5px 13px;
}
.last-price {
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	color: rgba(20, 16, 41, 0.6);
	font-weight: 500;
}
.last-price-number {
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	color: rgba(20, 16, 41, 0.8);
}

.bids-table {
	width: 100%;
	height: 32em;

	overflow-y: auto;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
}

.bids-table-body {
	width: 100%;
	height: 300px;

	overflow-y: auto;
}
.arrow-exch {
	opacity: 0.4;
	width: 14px;
	height: 14px;
	margin-left: -2px;
}
.table-rows {
	text-align: center;
	padding: 6px 0;
}
.table-header {
	padding: 7px 0;
}
.green {
	background-color: #e2f7ec;
	color: #23bc6b;
}
.red {
	background-color: #fee8ec;
	color: #f7637c;
}
.price-book:hover::after {
	content: 'asdasds';
	position: absolute;
	left: 0;
	top: 24px;
	min-width: 200px;
	border: 1px #aaaaaa solid;
	border-radius: 10px;
	background-color: #ffffcc;
	padding: 12px;
	color: #000000;
	font-size: 14px;
	z-index: 1;
}

.tooltip1 {
	position: relative;
	display: inline-block;
	height: 20px;
	font-weight: 600;
}

.tooltip1 .tooltiptext1 {
	visibility: visible;
	/* width: 5.2vw; */
	color: #fff;
	text-align: center;
	position: absolute;
	z-index: 1;
	/*  bottom: 125%; */
	left: 50%;
	left: 0px;
	margin-top: -6px;
	opacity: 1;
	transition: opacity 0.3s;
	height: 32px;
}

.tooltip1 .tooltiptext1.green {
	background-color: rgba(157, 226, 189, 0.623);
}
.tooltip1 .tooltiptext1.red {
	background-color: rgba(251, 177, 189, 0.623);
}

.father.orders {
	background-color: #fff !important;
	/* color: rgba(224, 224, 255, 0.6); */
}

.father.orders.dark-mode {
	background-color: #2a2a41 !important;
	color: rgba(224, 224, 255, 0.6);
}

/* ============================================================================== */

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
	padding: 3px 16px !important;
	overflow-wrap: break-word;
}
.ant-table {
	font-size: 10px !important;
}

.buy-and-sell-card {
	height: auto;
}
.buy-and-sell-card .ant-card-body {
	padding: 0px !important;
}
.order-books {
	height: auto;
}
.order-books .ant-card-body {
	padding: 10px !important;
}
.graph-card-table {
	height: 52.5vh;
	overflow-y: auto;
}
.graph-card-table .ant-card-body {
	padding: 0px !important;
}
.price-card-table {
	height: auto;
}

.price-card-table .ant-card-body {
	padding: 0px !important;
}

.price-card-buttons {
	float: left;
}
.price-card-date {
	float: left;
	font-size: 10px;
	padding-top: 0.5em;
}

.price-card-button {
	background-color: #fafafa;
	margin-top: -5px;
	padding: 7px 2em;
	font-size: 10px;
	border-radius: 6%;
	border: 0px solid #efeff0;
	box-shadow: 1px 1px 1px #f4f4f4;
	outline: none;
	cursor: pointer;
}
.price-card-button.active {
	background-color: transparent;
	border: 1px solid #efeff0;
}

.price-card-button.active.dark-mode {
	background-color: #4c5266;
}

.price-card-button.dark-mode {
	background-color: #2e2e45;
	border: 0px solid #efeff0;
	box-shadow: 0px 0px 0px #f4f4f4;
}

.price-card-selectors {
	float: left;
	font-size: 10px;
}
.price-card-selector {
	background-color: #fafafa;
	border-radius: 4px;
	margin: 3px !important;
	position: absolute;
	margin-top: -5px !important;
}
.price-card-selector .ant-select-selection {
	/* margin-top: -17px;
    position: absolute; */
	background-color: transparent;
	border: none !important;
	font-size: 10px;
	font-weight: 600;
}

.dark-mode .price-card-selector {
	background-color: #2e2e45;
	color: rgba(224, 224, 255, 0.6);
}

.dark-mode .price-card-selector svg {
	color: rgba(210, 210, 238, 0.459);
}

/* =========================================================================== */

/* .cell.short.emp.dark-mode {
	color: #ffffff !important;
} */

@media (max-width: 1130px) {
	.price-card-button {
		width: 50%;
	}

	.orders-dates {
		/* background-color: aqua; */
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 10px 0;
	}

	.orders-selects {
		/* background-color: brown; */
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 10px 0;
	}
}
