.balanceContent {
	padding-right: 20px;
	padding-left: 10px;
	padding-top: 5px;
}

#balance td {
	padding: 20px;
}

#balance thead td {
	color: #9ba6b2;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 13px;
	font-weight: 100;
}
#balance thead {
	border-bottom: 1px solid #edf0f4;
}

#balance tbody td {
	color: #4e5c6e;
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 15px;
	font-weight: 200;
}

.balance-btn {
	background-color: #fff;
	border: 1px solid;
	color: #9ba6b2;
	font-family: 'Roboto-Medium', sans-serif;
	height: 42px;
	width: 140px;
}

.balanceIcon {
	width: 30px;
	height: 30px;
}

@media (max-width: 991px) {
	.balanceContent {
		padding-left: 0px;
		margin-left: -10px;
	}

	.balanceIcon {
		width: 20px;
		height: 20px;
	}

	#balance td {
		padding: 5px;
	}

	.balance-btn {
		height: 35px;
		width: 70px;
		padding: 0px;
	}

	#balance tbody td {
		font-size: 11px;
		width: 23%;
	}

	.balanceText {
		padding: 0px;
	}

	.balanceContent2 {
		width: 94vw;
	}
}
