#general_chart iframe {
	height: 56.6vh;
}

.row {
	flex-wrap: wrap;
}

.navbar {
	position: fixed;
	top: 0;
	width: 105vw;
	height: 20px;
	background-color: #fafafa;
	visibility: hidden;
	z-index: 99;
	display: flex;
	justify-content: space-between;
}

.navbar > div {
	/* background-color: aqua; */
	width: 45%;
	padding: 6px;
}

.navbar > .container-1 > img {
	position: relative;
	top: -5px;
}

.navbar > .container-1 > img,
.navbar > .container-1 > a {
	margin: 0 3%;
}

.navbar > .container-2 {
	text-align: right;
	padding-right: 30px;
	padding-top: 10px;
}

/* .navbar {
    margin: 0 10px;
} */

.navbar .icon-active {
	background-color: rgb(31, 90, 246);
	text-align: center;
	padding: 3px 5px;
	font-size: 20px !important;
	border-radius: 10%;
	top: -4px;
	position: relative;
}

@media (max-width: 991px) {
	#pairs {
		height: 28vh !important;
	}
}

@media (max-width: 1050px) {
	.mainContent {
		margin-top: 55px;
	}
	.navbar {
		visibility: visible;
	}
	.sidebar {
		display: none;
	}
}
