.orderbook-rows tr:hover td {
	background-color: #efefef;
}
.orderbook-rows tr {
	cursor: pointer;
}

.exchange-size-default-color {
	background-color: #fff;
}

.exchange-size-decrease-color {
	animation-name: animation-decrease;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-play-state: running;
}

.exchange-size-increase-color {
	animation-name: animation-increase;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-play-state: running;
}

@keyframes animation-decrease {
	0% {
		background-color: white;
	}
	50.0% {
		background-color: #ef9797;
	}
	100.0% {
		background-color: white;
	}
}

@keyframes animation-increase {
	0% {
		background-color: white;
	}
	50.0% {
		background-color: #7693e0;
	}
	100.0% {
		background-color: white;
	}
}

#asks-general,
#bids-general {
	height: 19vh !important;
}

@media (min-height: 700px) {
	#asks-general,
	#bids-general {
		height: 20vh !important;
	}
}

@media (min-height: 740px) {
	#asks-general,
	#bids-general {
		height: 20.6vh !important;
	}
}

@media (min-height: 810px) {
	#asks-general,
	#bids-general {
		height: 21vh !important;
	}
}

@media (min-height: 840px) {
	#asks-general,
	#bids-general {
		height: 21.6vh !important;
	}
}

@media (min-height: 890px) {
	#asks-general,
	#bids-general {
		height: 22vh !important;
	}
}

@media (min-height: 1000px) {
	#asks-general,
	#bids-general {
		height: 22.6vh !important;
	}
}

@media (max-width: 1292px) and (max-height: 720px) {
	#asks-general,
	#bids-general {
		height: 19vh !important;
	}
}

/* Tablet - iPad */
@media (max-width: 1024px) and (max-height: 768px) {
	#asks-general,
	#bids-general {
		height: 19vh !important;
	}
}

/* Mobile */

@media (max-width: 991px) and (max-height: 824px) {
	#asks-general,
	#bids-general {
		height: 20vh !important;
	}
}

@media (max-width: 991px) and (max-height: 740px) {
	#asks-general,
	#bids-general {
		height: 18vh !important;
	}
}

@media (max-width: 340px) and (max-height: 570px) {
	#asks-general,
	#bids-general {
		height: 16.6vh !important;
	}
}
