.js-exch-drop {
	display: none !important;
}

.js-exch-drop.active {
	display: block !important;
}

.index .right-panel .order-book .orders .order:hover {
	cursor: pointer;
	background-color: #f5f5f5;
}

.exch-content.js-exch-content {
	margin-left: 8px;
}

.title.exch {
	padding-left: 8px;
}
