.js-exch-drop {
	display: none !important;
}

.js-exch-drop.active {
	display: block !important;
}

 .index .right-panel .order-book .orders .order:hover {
	cursor: pointer;
	background-color: #f5f5f5;
}
.index .right-panel .order-book .orders .order.dark:hover {
	background-color: rgba(20, 16, 41, 0.6);
}

.exch-content.js-exch-content {
	margin-left: 8px;
}

.title.exch {
	padding-left: 8px;
}
