.date-1 {
  > .react-datepicker-wrapper {
    width: 100% !important;
  }
}

.pagination {
  list-style: none;
  margin-top: 5px !important;

  svg {
    color: rgba(224, 224, 255, 0.6);
  }
}

.titles {
  svg {
    margin-left: 10px;
    color: rgba(224, 224, 255, 0.6);
  }
}
.dark-mode {
  .react-datepicker__input-container {
    color: #fff;
  }

  .option-select.emp {
    background-color: #2e2e45;
    color: #e9e9e9a8;

    &.ant-select-item-option-selected,
    &:hover {
      background-color: rgba(51, 61, 75, 0.828);
    }
  }
}
