
// variables resposive:
$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

@mixin media($media) {
    @if $media==xs {
        @media (max-width: $breakpoint-xs) {
            @content;
        }
    }

    @else if $media==sm {
        @media (max-width: $breakpoint-sm) {
            @content;
        }
    }

    @else if $media==md {
        @media (max-width: $breakpoint-md) {
            @content;
        }
    }

    @else if $media==lg {
        @media (max-width: $breakpoint-lg) {
            @content;
        }
    }

    @else if $media==xl {
        @media (min-width: $breakpoint-lg) {
            @content;
        }
    }
}