.container-exchange{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.exchange {
  background-color: #fff !important;
  padding-bottom: 1px;
  /* padding-top: 10%; */
  width: 100%;
  border-radius: 5px;
 
}
.buy-tab,
.sell-tab {
  text-align: center;
  font-size: 14px;
  width: 50%;
  float: left;
  cursor: pointer;
  padding: 8px 0px;
  font-weight: 600;
  &.Dark {
    border-bottom: 2px solid #2e2e45 !important;
    color: #9797b3;
  }
  &.Light {
    border-bottom: 2px solid #9797971c !important;
    color: #7e7e80;
  }
}
.buy-tab.active {
  border-bottom: 2px solid rgb(0, 187, 255) !important;
  background-color: #007ba82f;
  color: rgb(0, 187, 255);
  border-radius: 5px 0 0 0;
}
.sell-tab.active {
  border-bottom: 2px solid rgb(255, 99, 85) !important;
  background-color: rgba(250, 21, 0, 0.075);
  color: rgb(255, 99, 85);
  border-radius: 0 5px 0 0;
}

.ant-col.ant-col-12.sell-tab,
.ant-col.ant-col-12.buy-tab {
  padding: 0px !important;
}
.exchange .content-buttons {
  margin: 50px 10px 20px 10px;

  .container-options-buttons {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;

    &.Dark {
      background-color: rgb(45, 45, 69);
      color: rgb(151, 151, 179);
      .btn-opt.active {
        color: white;
        -webkit-box-shadow: 0px 0px 6px 0px rgba(5, 5, 5, 0.500);
        -moz-box-shadow: 0px 0px 6px 0px rgba(5, 5, 5, 0.500);
        box-shadow: 0px 0px 6px 0px rgba(5, 5, 5, 0.500);
      }
    }
    &.Light {
      background-color: #fafafa;
      color: rgb(161, 159, 169);
      .btn-opt.active {
        color: black;
        -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.199);
        -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.199);
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.199);
      }
    }
    .btn-opt {
      width: 48%;
      background-color: transparent;
      border: none;
      height: 85%;
      padding: 0;
      font-size: 12px;
      cursor: pointer;
      border-radius: 5px;
     
    }
  }
}

.buy-and-sell-form {
  width: 100%;
  max-height: 360px;
  padding: 0 10px;
  font-family: sans-serif !important;
  color: rgba(20, 16, 41, 0.4) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wf-active .buy-and-sell-form {
  font-family: 'Montserrat', sans-serif !important;
}

.buy-and-sell-form form {
  width: 100%;
}
/* Form Css */
.form-fields-buyandsell {
  width: 100%;
  border-radius: 2px;
  background-color: #fafafa;
  height: 32px;
  padding: 5px;
  font-size: 15px;
 &.Dark{
  border: 0.5px solid #e5e5e523 !important;
  color: white;
 }
 &.Light{
  border: 0.5px solid #e5e5e58a !important;
  color: black;
 }
  
}
/* .form-fields-buyandsell.buy {
  color: rgb(0, 187, 255);
}
.form-fields-buyandsell.sell {
  color: rgb(255, 99, 85);
} */
.form-fields-buyandsell.after {
  padding-right: 40px;
}
.group-buttons-percent {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  button {
    @media (min-width: 992px) and (max-width: 1450px) { 
      width: 48%;
     }
     @media (max-width: 300px) { 
      width: 48%;
     }
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    height: 35px;
    width: 23%;
    font-size: 14px;
    color: #706e7e;
    border-radius: 2px;
    border: none;
    outline: none;
    &.Dark {
      background-color: rgb(45, 45, 69);
    color: rgb(151, 151, 179);
    &:focus{
      color: white;
    }
    }
    &.Light {
      background-color: #fafafa;
      color: rgb(161, 159, 169);
      &:focus{
        color: black;
      }
    }
  }
}


/* .percent-button.right {
  margin: 2px 0px 2px 2px;
}
.percent-button.left {
  margin: 2px 2px 2px 0px;
}
.percent-button:hover {
  background-color: #eeeeee;
}
.percent-button:active {
  background-color: #e4e4e4;
} */
.total-price {
  margin-top: 15px;
  margin-bottom: 5px;
}

.submit-form {
  width: 100%;
  height: 35px;
  font-size: 15px;
  color: white;
  border-radius: 3px;
  background-color: transparent;
  border: 0px solid transparent;
  &:disabled{
    color: rgba(204, 199, 199, 0.452);
  }
}
.submit-form.buy {
  background: rgb(0, 248, 178);
  background: linear-gradient(
    90deg,
    rgba(0, 248, 178, 1) 0%,
    rgba(0, 197, 243, 1) 49%,
    rgba(64, 125, 246, 1) 100%
  );
  -webkit-box-shadow: 0 8px 12px rgba(0, 187, 255, 0.24), 0 2px 4px -1px rgba(10, 70, 82, 0.12),
    0 0 1px rgba(0, 187, 255, 0.24);
  box-shadow: 0 8px 12px rgba(0, 187, 255, 0.24), 0 2px 4px -1px rgba(10, 70, 82, 0.12),
    0 0 1px rgba(0, 187, 255, 0.24);
}
.submit-form.sell {
  background: rgb(248, 199, 0);
  background: linear-gradient(
    90deg,
    rgba(248, 199, 0, 1) 0%,
    rgba(243, 122, 0, 1) 50%,
    rgba(246, 64, 64, 1) 100%
  );
  -webkit-box-shadow: 0 8px 12px rgba(255, 0, 0, 0.24), 0 2px 4px -1px rgba(82, 10, 10, 0.12),
    0 0 1px rgba(255, 0, 0, 0.24);
  box-shadow: 0 8px 12px rgba(255, 0, 0, 0.24), 0 2px 4px -1px rgba(82, 10, 10, 0.12),
    0 0 1px rgba(255, 0, 0, 0.24);
}

.avl-amount {
  margin-right: 10px;
}

.div-add-wallet-btn {
  width: 100%;
  /* background-color: aqua; */
  padding: 10% 0;
  display: flex;
  justify-content: center;
}

.div-add-wallet-btn > span {
  font-size: 15px;
}

.div-add-wallet-btn > span:hover {
  cursor: pointer;
}

/* End of form Css */

@media (min-width: 1500px) {
  .buttons-options button {
    font-size: 14px;
  }

  .exchange span {
    font-size: 13px;
  }
}

.container-dep-with{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  &.Dark {
    button{
      background-color: rgb(45, 45, 69);
      color: rgb(151, 151, 179);
      &:focus{
        color: white;
      }
    }
  }
  &.Light {
    button{
      background-color: #fafafa;
    color: rgb(161, 159, 169);
    &:focus{
      color: black;
    }
    }
  }
  span{ 
    width: 49%;
    color: rgb(151, 151, 179);
    
  }
  button{
    cursor: pointer;
    @media (max-width: 300px) { 
      width: 100%;
      margin-bottom: 0;
     }
     margin: 10px 0;
    width: 49%;
    height: 35px;
    font-size: 12px;
    color: #706e7e;
    border-radius: 2px;
    border: none;
    outline: none;

  
  }
}
