#exchange {
    background-color: #fff !important;
    padding-bottom: 1px;
    /* padding-top: 10%; */
}

.left-panel.js-panel {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* overflow-y: auto;
	overflow-x: visible; */
}

/* --------------------- Dark Mode ----------------------- */

#exchange.dark-mode {
    background-color: #2a2a41 !important;
    color: #fff;
}
#exchange .container-buttons-options {
    background-color: #fafafa;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 20% 8% 5% 5%;
    border-radius: 3px;
}

#exchange.dark-mode .container-buttons-options {
    background-color: #2a2a41;
}
/* rgba(224, 224, 255, 0.02) */
#exchange.dark-mode .form-fields-buyandsell {
    background-color: rgba(224, 224, 255, 0.02);
    border: 0px;
}

#exchange.dark-mode .percent-button {
    background-color: rgba(224, 224, 255, 0.02);
    border: 0px;
}

#exchange.dark-mode .market-button.active,
#exchange.dark-mode .limit-order-button.active {
    background-color: rgba(224, 224, 255, 0.02);
    border: 0px;
    box-shadow: 1px 1px 1px #161616;
}

#exchange.dark-mode .buy-tab,
#exchange.dark-mode .sell-tab {
    border-bottom: 1px solid #2a2a41;
}

#exchange.dark-mode .buy-tab.active {
    border-bottom: 1px solid rgb(0, 187, 255);
}

#exchange.dark-mode .sell-tab.active {
    border-bottom: 1px solid rgb(255, 99, 85);
}

#exchange.dark-mode .buy-and-sell-form {
    color: rgb(112, 110, 125) !important;
}

/* ------------------------------------ */
.buy-tab,
.sell-tab {
    text-align: center;
    font-size: 14px;
    width: 50%;
    float: left;
    cursor: pointer;
    padding: 8px 0px;
    font-weight: 600;
    border-bottom: 1px solid #f1f1f2;
}
.buy-tab.active {
    border-bottom: 1px solid rgb(0, 187, 255);
    background-color: rgba(211, 244, 255, 0.198);
    color: rgb(0, 187, 255);
}
.sell-tab.active {
    border-bottom: 1px solid rgb(255, 99, 85);
    background-color: rgba(230, 155, 148, 0.137);
    color: rgb(255, 99, 85);
}

.ant-col.ant-col-12.sell-tab,
.ant-col.ant-col-12.buy-tab {
    padding: 0px !important;
}
.buttons-options {
    text-align: center;
    width: 50%;
}

.market-button,
.limit-order-button {
    background-color: transparent;
    width: 100%;
    font-weight: 300;
    padding: 10px 10px;
    border-radius: 6%;
    border: none;
    box-shadow: 0 0 0 #f4f4f4;
    outline: none;
    cursor: pointer;
}
.market-button.active,
.limit-order-button.active {
    width: 100%;
    background-color: #fff;
    margin: 2px;
    padding: 8px 10px;
    border-radius: 6%;
    border: 1px solid #efeff0;
    box-shadow: 1px 1px 1px #f4f4f4;
    outline: none;
    cursor: pointer;
}
.buy-and-sell-form {
    width: 100%;
    max-height: 360px;
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif !important;
    color: rgba(20, 16, 41, 0.4) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy-and-sell-form form{
    width: 100%;
}
/* Form Css */
.form-fields-buyandsell {
    width: 100%;
    border-radius: 5px;
    background-color: #fafafa;
    border: 1px solid #fafafa;
    height: 32px;
    padding: 5px;
    font-size: 15px;
    
}
.form-fields-buyandsell.buy{
    color: rgb(0, 187, 255);
}
.form-fields-buyandsell.sell{
    color: rgb(255, 99, 85);
}
.form-fields-buyandsell.after {
    padding-right: 40px;
}
.percent-buttons {
    margin-top: 10px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.percent-button {
    cursor: pointer;
    height: 35px;
    width: 24%;
    font-size: 14px;
    color: #706e7e;
    border-radius: 2px;
    background-color: #fafafa;
    border: 1px solid #fafafa;
    outline: none;
}
.percent-button.left.buy{
    color: rgb(0, 187, 255)
}
.percent-button.right.buy{
    color: rgb(0, 187, 255)
}
.percent-button.left.sell{
    color: rgb(255, 99, 85)
}
.percent-button.right.sell{
    color: rgb(255, 99, 85)
}
.percent-button.right {
    margin: 2px 0px 2px 2px;
}
.percent-button.left {
    margin: 2px 2px 2px 0px;
}
.percent-button:hover {
    background-color: #eeeeee;
}
.percent-button:active {
    background-color: #e4e4e4;
}
.total-price {
    margin-top: 15px;
    margin-bottom: 5px;
}

.submit-form {
    width: 100%;
    height: 35px;
    font-size: 15px;
    color: white;
    border-radius: 3px;
    background-color: transparent;
    border: 0px solid transparent;
}
.submit-form.buy {
    background: rgb(0, 248, 178);
    background: linear-gradient(
        90deg,
        rgba(0, 248, 178, 1) 0%,
        rgba(0, 197, 243, 1) 49%,
        rgba(64, 125, 246, 1) 100%
    );
    -webkit-box-shadow: 0 8px 12px rgba(0, 187, 255, 0.24),
        0 2px 4px -1px rgba(10, 70, 82, 0.12), 0 0 1px rgba(0, 187, 255, 0.24);
    box-shadow: 0 8px 12px rgba(0, 187, 255, 0.24),
        0 2px 4px -1px rgba(10, 70, 82, 0.12), 0 0 1px rgba(0, 187, 255, 0.24);
}
.submit-form.sell {
    background: rgb(248, 199, 0);
    background: linear-gradient(
        90deg,
        rgba(248, 199, 0, 1) 0%,
        rgba(243, 122, 0, 1) 50%,
        rgba(246, 64, 64, 1) 100%
    );
    -webkit-box-shadow: 0 8px 12px rgba(255, 0, 0, 0.24),
        0 2px 4px -1px rgba(82, 10, 10, 0.12), 0 0 1px rgba(255, 0, 0, 0.24);
    box-shadow: 0 8px 12px rgba(255, 0, 0, 0.24),
        0 2px 4px -1px rgba(82, 10, 10, 0.12), 0 0 1px rgba(255, 0, 0, 0.24);
}

.avl-amount {
    margin-right: 10px;
}

.div-add-wallet-btn {
    width: 100%;
    /* background-color: aqua; */
    padding: 10% 0;
    display: flex;
    justify-content: center;
}

.div-add-wallet-btn > span {
    font-size: 15px;
}

.div-add-wallet-btn > span:hover {
    cursor: pointer;
}

/* End of form Css */

@media (min-width: 1500px) {
    .buttons-options button {
        font-size: 14px;
    }

    #exchange span {
        font-size: 13px;
    }
}
