.TVChartContainer {
    height: 100%;
    width: 100%;
}
.pane-legend-line span {
    pointer-events: auto;
    margin-right: 10px !important;
}
@media only screen and (max-width: 900px) {
    iframe{
        width: 97% !important;
    }
  }
