
/* OLD STYLES */

.react-datepicker__input-container {
  width: 100% !important;
  input {
    cursor: pointer !important;
  }
}

.react-datepicker__header {
  background-color: #fff !important;
}

.dark-mode {
  .react-datepicker__header {
    background-color: #202036 !important;
  }
  .react-datepicker__current-month {
    color: #e9e9e9 !important;
  }
  .react-datepicker__day-name {
    color: #e9e9e9 !important;
  }
  .react-datepicker__day {
    color: #e9e9e9 !important;
  }
  .react-datepicker__triangle {
    border-top-color: #202036 !important;
  }
  .react-datepicker {
    border: 1.5px solid #383838e3;
  }
}
.react-datepicker__current-month {
  color: rgba(0, 0, 0, 0.65) !important;
}
.react-datepicker__day-name {
  color: rgba(0, 0, 0, 0.65) !important;
}
.react-datepicker__day {
  color: rgba(0, 0, 0, 0.65) !important;
}
.react-datepicker__day--selected {
  background-color: #46abee !important;
  color: #fff !important;
}
.react-datepicker__day--selected.react-datepicker__day--today {
  color: rgb(236, 241, 243) !important;
}
.react-datepicker__day--today {
  color: #46abee !important;
}

/* NEW STYLES */

.container-filter-date{
  display: flex;
  justify-content: space-between;
  width: 38%;
  &.Dark {
    .customDatePickerInputWrapper{
      background-color: #35354E;
      color: rgb(151, 151, 179);
      border: 1px solid #46465C;
    }
    input{
      color: white;
    }
  
  }
  &.Light {
    .customDatePickerInputWrapper{
      background-color: #fafafa;
      color: rgb(161, 159, 169);
      border: 1px solid #46465C;
      input{
        color: black;
      }
    }
  }
  .customDatePickerInputWrapper{
    padding: 0 5px;
    border-radius: 5px;
    height: 35px;
    width: auto;
    .customDatePickerInputWrapper svg{
      top:13px;
      right:  10px;
    }
    input{
      height: auto;
      padding: 0;
      background: none;
      color: white;
      font-size: 12px;
      &::placeholder{
        color: rgba(224, 224, 255, 0.6);
      }
    }
  }
  .line-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #46465C;
    
  }
}
.react-datepicker-wrapper {
  width: 48%;
}