$icomoon-font-family: "orion" !default;
$icomoon-font-path: "fonts" !default;

$icon_chart: "\e903";
$icon_wallet: "\e905";
$icon_wanchain: "\e904";
$icon_ethereum: "\e901";
$icon_bitmax: "\e902";
$icon_binance: "\e900";
$icon_copy: "\e909";
$icon_spinn: "\e90a";
$icon_close: "\e90b";
$icon_alert: "\e90c";
$icon_zoom: "\e914";
$icon_prev: "\e915";
$icon_next: "\e916";
$icon_arrow: "\e917";
$icon_date: "\e918";
$icon_change: "\e919";
$icon_carret: "\e91a";
$icon_add: "\e91b";
$icon_dash: "\e91c";
$icon_bitcoin: "\e91e";
$icon_clock: "\e91f";
$icon_grid: "\e920";
$icon_swap: "\e921";
$icon_home: "\e922";
$icon_moon: "\e923";

