@import '../../../css/resposiveSize';

@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}     
.selectors-container{
  width: 100%;
  margin-bottom: 30px;
  .title{
      h6{ 
          font-size: 20px;
      }
  }
  .swap-selectors{
      width: 40%;
      @include media ('md'){
        width: 90%;
     }
  }
    &.Light{
      .left{
        background-color: rgb(250,250,250) ;
      }
      .right{
        background-color: rgb(250,250,250) ;
      }
      .options{
        background-color: rgb(250,250,250); 
            .custom-select-option{
                &:hover{
                    background-color: rgb(226, 226, 226); 
                }
            }
        }
    }
    &.Dark{
        .left{
            background-color: #2e2e45 ; 
          }
          .right{
            background-color: #2e2e45 ; 
          }
          .options{
             background-color: #2e2e45 ; 
                .custom-select-option{
                    &:hover{
                        background-color: rgba(20, 16, 41, 0.6); 
                    }
                }
            }
         
    }

    display: flex;
    justify-content: space-around;
    align-items: center;
    @include media ('md'){
       flex-direction: column; 
    }
    .swap-icon{
        margin-top: 30px ;
        @include center;
        cursor: pointer;
        font-size: 20px;
        &:hover{
            color: #00bbff;
        }
        /* @include media ('md'){
           transform: rotate(90deg); 
         } */
    }

    .compound-input{
        width: 100%;
        height: 40px;
        display: flex;
        position: relative;
       
        .left{
            position: relative;
            width: 30%;
            padding: 0 10px;
            border-radius: 5px 0 0 5px;
            @include media('lg'){
                width: 50%;
            }
           
            .custom-select-input{
                display: flex;
                .image{
                    width: 40%;
                }
                .text{
                    width: 60%;
                    margin-left: 5px;
                    font-size: 15px;
                    text-align: center;
                    
                }
                .selectedOption{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 40px;
                    width: 100%;
                   
                    @include media('sm'){
                        width: 100%;
                    }
                    .pair-container{
                        display: flex;
                    }
                    .arrow-container{
                        padding: 0 10px;
                        font-size: 20px;
                    }
                    &:hover + .options{ 
                        display: flex;
                    }
                    &:hover{ 
                        .fas.fa-angle-down{
                            transform: rotate(180deg);
                        }
                    }
                }
                .options{
                    display: none;
                    flex-direction: column;
                    position: absolute;
                    width: calc(100% - 20px);
                    top:40px;
                    left: 0;
                    border-radius:0 0 5px 5px;
                    z-index: 2;
                    &:hover { 
                        display: flex;
                    }
                   
                    
                    .custom-select-option{
                        cursor: pointer;
                        padding: 10px;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
        .right{
            position: relative;
            width: 70%;
            border-radius: 0 5px 5px 0;
            @include media('lg'){
                width: 50%;
            }
            
            .input-swap-selector{
                background-color: transparent;
                 border: none;
                 border-radius: 0 5px 5px 0;
                 text-align: end;
                 padding: 0 10px;
                 width: 100%;
                 height: 40px;
                 font-size: 20px;
             } 
        }
    }
    
}

 /*        .selectors-container{
            display: flex;
            justify-content: space-around;
          
            width: 100%;
            margin: 20px 0;

            @include media ('lg'){
                flex-direction: column;
            }
            .swap-selectors{
                display: flex;
                flex-direction: column;
                justify-content: center;
    
                .selector{
                    display: flex;
                    
                    .price-card-selector{
                        border-radius: 5px 0 0 5px;
                        margin: 0 !important;   
                    }
    
                    .ant-select-selection.ant-select-selection--single{
                        &.ant-select-selection--single .ant-select-selection__rendered  {
                            margin-right: 30px;
                            @include media ('lg'){
                                margin-right: none;
                            }
                        }
                        display: flex;
                        .ant-select-arrow{
                            position: relative;
                        }
    
                        .ant-select-selection-selected-value{
                            display: flex !important;
                            justify-content: space-around;
                            align-items: center;
            
                            .image{
                                width: 25px;
                              
                            }
                            .text{
                                margin-left: 5px;
                                width: 35px;
                             
                            }
                        }
                    }
    
                  
                }
              
               
            
            }
            li{
                display: flex !important;
            }
            
            .to{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        } */





      /*   .input-swap-selector{
            background-color: #fafafa;
            border: none;
            border-radius: 0 5px 5px 0;
            text-align: end;
            padding: 0 10px;
            width: 100%;
            height: 40px;
        } */

        /* .swap-icon{
            margin-top: 30px ;
            @include center;
            cursor: pointer;
            font-size: 20px;
            &:hover{
                color: #00bbff;
            }
        } */