.index .left-panel .pair-select .pair-drop .pair-table .lines .line .cell .img {
  width: 20px;
  height: 20px;
}

.index .left-panel .pair-select .pair-drop .pair-table .lines .line:hover {
  cursor: pointer;
}

.titles-p {
  svg {
    opacity: 0.4;
    margin-left: 5px;
  }
}
