@import "./scss/variables";
@import "./scss/mixins";
@import "./scss/core/icon";

@import "./scss/core/chart";

body {
    display: flex;
    font-family: Montserrat;
    color: $color_light_thems;

    > #root {
        width: 100%;
        min-height: 100%;
    }

    &.dark {
        color: $color_dark_thems;
    }
}

.page {
    min-height: 100%;
    display: flex;

    &__content {
        padding: 56px 10px 10px;
        width: 100%;

        @media (min-width: 992px) {
            padding: 20px 20px 20px 92px;
        }
    }

    &__box {
        background: #F7F7F7;
        border-radius: 4px;
        padding: 15px 10px;
        min-height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;

        &_column {
            flex-direction: column;
            justify-content: flex-start;
        }

        @media (min-width: 992px) {
            padding: 46px 20px;
        }

        .dark & {
            background: linear-gradient(0deg, rgba(51, 51, 75, 0.24), rgba(51, 51, 75, 0.24)), #2F2F44;
            box-shadow: 0 2px 4px rgba(20, 16, 41, 0.24), 0 0 1px rgba(20, 16, 41, 0.4);
        }
    }

    &__title {
        color: #141029;
        font-size: 20px;
        margin: 0 0 20px;
        font-weight: 600;
        width: 100%;

        @media (min-width: 992px) {
            font-size: 25px;
            margin: 0 0 47px;
        }

        &_center {

            @media (min-width: 992px) {
                text-align: center;
            }
        }

        .dark & {
            color: $color_withe;
        }
    }

}

.plate {
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(20, 16, 41, 0.06), 0 0 1px rgba(20, 16, 41, 0.12);
    border-radius: 4px;
    padding: 10px 15px;
    margin: 0 0 15px;

    @media (min-width: 768px) {
        padding: 32px 24px;
        margin: 0 0 22px;
    }

    .page__box_column & {
        width: 100%;

        .form__row {
            @media (max-width: 767px) {
                width: 100%;
            }
        }

        @media (min-width: 768px) {
            max-width: 847px;
            margin: 0 auto 22px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        margin: 0 0 20px;
        color: #434054;

        .dark & {
            color: $color_withe;
        }
    }

    .dark & {
        background: linear-gradient(0deg, rgba(51, 51, 75, 0.24), rgba(51, 51, 75, 0.24)), #27273E;
        box-shadow: 0 2px 4px rgba(20, 16, 41, 0.24), 0 0 1px rgba(20, 16, 41, 0.4);
    }
}

.form {
    &__row {
        margin-bottom: 15px;
        min-width: 0;
        @media (min-width: 768px) {
            width: 100%;
        }
    }

    &__label {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 6px;
        color: #434054;
        display: block;

        &_small {
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        .dark & {
            color: $color_withe;
        }
    }

    &__sub {
        font-size: 10px;
        margin-top: 7px;
    }

    &__field {
        position: relative;
        background: #FFFFFF;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
        border-radius: 2px;

        .dark & {
            background: #2E2E45;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }

        &_duble {
            display: flex;
        }

        input {
            flex-grow: 1;
            font-size: 16px;
            padding: 6px 21px;
            outline: 0;
            border: 0;
            background-color: transparent;
            text-align: right;
            color: #141029;
            min-width: 0;

            .dark & {
                color: $color_dark_thems;
            }
        }
    }

    &__info {
        display: flex;
        align-items: flex-start;
        margin: 5px 0 20px;
        font-size: 12px;
        line-height: 1.2;

        .icon_alert {
            font-size: 18px;
            margin-right: 14px;
        }
    }

    &__control {
        flex-grow: 1;
        min-width: 0;
        color: #141029;
        background: #FFFFFF;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        border: 0;
        font-size: 16px;
        padding: 14px 25px;
        outline: 0;

        .dark & {
            background: #2E2E45;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            color: $color_dark_thems;
        }
    }

    &__hr {
        border: 0;
        background-color: transparent;
        border-top: 1px solid;
        opacity: 0.5;
        margin: 15px 0;
    }

    &__action {
        text-align: center;
        margin: 30px 0;
    }

    &__terms {
        margin: 15px 0;
        text-align: center;
        color: #A19FA9;
        font-size: 12px;
        font-weight: 500;

        a {
            color: inherit;
            text-decoration: underline;

            &:hover {
                color: inherit;
            }
        }
    }

}

.btn {
    border: 0;
    padding: 12px 25px;
    font-size: 16px;
    line-height: 1.2;
    border-radius: 2px;
    outline: 0;
    background-color: transparent;
    text-align: center;
    cursor: pointer;

    &_lg {
        padding: 16px 25px;
        width: 100%;
        max-width: 230px;
    }

    &_grade {
        position: relative;
        z-index: 1;
        box-shadow: 0 8px 8px rgba(0, 187, 255, 0.12), 0 16px 24px rgba(0, 187, 255, 0.24), 0 2px 4px rgba(10, 70, 82, 0.12), 0 0 1px rgba(0, 187, 255, 0.24);
        color: $color_withe;
        overflow: hidden;
        transition: box-shadow 0.3s;

        &:after {
            content: '';
            background: linear-gradient(90deg, #00FFAA 0%, #00BBFF 53.09%, #4579F5 100%);
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            z-index: -1;
            transition: width 0.3s;
        }

        &:hover {
            box-shadow: 0 8px 8px rgba(0, 187, 255, 0.12), 0 10px 16px rgba(0, 187, 255, 0.24), 0 2px 4px rgba(10, 70, 82, 0.12), 0 0 1px rgba(0, 187, 255, 0.24);

            &:after {
                width: 130%;
            }
        }

        &:active {
            box-shadow: none;
        }
    }
}

.formSelect {
    // position: relative;
    color: #434054;
    border-radius: 2px;
    font-size: 14px;

    .dark & {
        color: $color_withe;
    }

    &:hover {
        z-index: 10;

        .formSelect {
            &__drop {
                display: block;
                animation: slideUp 0.5s;
            }
        }

        .icon_carret {
            transform: rotate(180deg);
        }
    }

    &__current {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 6px 15px;
        cursor: pointer;
    }

    .icon_carret {
        font-size: 12px;
        margin-left: 7px;
        color: rgba(224, 224, 255, 1);
        transform: rotate(0);
        transition: transform 0.1s;

        .dark & {
            color: rgba(224, 224, 255, 0.4);
        }
    }

    &__logo {
        font-size: 21px;
        margin-right: 15px;

        .dark & {
            color: #E0E0FF;
        }
    }

    &__name {
        color: #434054;

        .dark & {
            color: $color_withe;
        }
    }

    &__drop {
        display: none;
        position: absolute;
        background: $color_withe;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        min-width: 100%;
        padding: 15px 15px 10px;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: -5px;
            height: 7px;
            background: inherit;
        }

        .dark & {
            background: #2E2E45;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
    }

    &__option {
        display: flex;
        padding: 9px 15px;
        cursor: pointer;
        position: relative;

        &:hover {
            background-color: rgba(0, 187, 255, 0.03);

            .dark & {
                background-color: #27273E;
            }
        }
    }

    &__list {
        max-height: 150px;
        overflow-y: auto;
        margin-left: -15px;
        margin-right: -14px;

        @media (min-width: 768px) {
            max-height: 191px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        margin: 0 -10px 18px;
    }

    &__item {
        display: flex;
        align-items: center;
        border: 1px solid #E6E6E7;
        border-radius: 3px;
        padding: 6px 8px;
        margin: 0 10px 10px;
        cursor: pointer;

        @media (min-width: 768px) {
            padding: 6px 17px;
        }

        .formSelect {
            &__logo {
                font-size: 18px;
                margin-right: 10px;
            }

            &__name {
                font-size: 12px;
            }
        }
    }

    &__search {
        // width: 36px;
        position: relative;
        margin-bottom: 23px;

        input {
            border-bottom: 1px solid #A19FA9;
            font-size: 12px;
            text-align: left;
            padding-left: 52px;
            width: 100%;
            font-weight: 500;
        }

        .icon_search {
            color: #A19FA9;
            position: absolute;
            left: 18px;
            top: 7px;
            font-size: 18px;
        }
    }
}

@keyframes slideUp {
    from {
        transform: translateY(5px);
    }

    to {
        transform: translateY(0);
    }
}

.swapChoose {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
        align-items: flex-start;
    }

    &__item {
        max-width: 100%;

        @media (min-width: 768px) {
            flex-grow: 1;
            min-width: 0;
            width: 50%;
        }

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    &__replace {
        cursor: pointer;
        font-size: 24px;
        color: #00BBFF;
        margin: 0;

        @media (min-width: 768px) {
            min-width: 24px;
            margin: 33px 13px 0;
        }

        .dark & {
            color: #E0E0FF;
        }
    }

    .formCollapse {
        padding-top: 10px;

        @media (min-width: 768px) {
            padding-top: 50px;
        }

        @media (max-width: 767px) {
            width: 100%;
        }
    }
}

.formCollapse {
    &__toggle {
        font-weight: 600;
        font-size: 14px;
        color: #434054;
        cursor: pointer;

        .dark & {
            color: $color_withe;
        }

        .icon_carret {
            font-size: 9px;
            margin-left: 10px;
            color: $color_light_thems;
            transition: transform 0.1s;
            transform: rotate(0);

            .dark & {
                color: $color_dark_thems;
            }
        }
    }

    &__swicher {
        display: none;

        &:checked {
            + .formCollapse__toggle {
                .icon_carret {
                    transform: rotate(-180deg);
                }

                + .formCollapse__content {
                    display: block;
                }
            }
        }
    }

    &__content {
        padding-top: 15px;
        display: none;
    }

}

.formGroup {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;

    > * {
        padding: 10px;
        min-width: 0;
    }
}

.formCheck {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    input[type=checkbox],
    input[type=radio] {
        appearance: none;
        background-color: transparent;
        width: 11px;
        height: 11px;
        color: #A19FA9;
        border: 1px solid;
        box-sizing: border-box;
        margin-right: 15px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex: none;

        + .formCheck {
            &__name {
                color: #A19FA9;
            }
        }

        &:checked {
            color: #434054;

            + .formCheck {
                &__name {
                    color: #434054;
                }
            }
        }

        .dark & {
            color: #9090A8;

            + .formCheck {
                &__name {
                    color: #9090A8;
                }
            }

            &:checked {
                color: $color_withe;

                + .formCheck {
                    &__name {
                        color: $color_withe;
                    }
                }
            }
        }
    }

    input[type=checkbox] {}

    input[type=radio] {
        border-radius: 50%;

        &:checked {
            &:before {
                content: '';
                display: block;
                border-radius: 50%;
                border: 2.5px solid;
            }
        }
    }

    &__name {
        color: $color_light_thems;
        transition: color 0.3s;

        .dark & {
            color: #434054;
        }
    }

    &__opt {
        width: 139px;
        margin-left: 20px;
        padding: 6px 15px;
    }

}

.swapHistory {
    &__top {
        display: flex;
        align-items: flex-start;
        margin-bottom: 9px;
    }

    &__choose {
        display: flex;
        align-items: center;
        margin-right: 50px;

        .icon_arrow {
            margin: 10px 19px;
            cursor: pointer;
            color: $color_muted;
            font-size: 12px;

            // .dark & {
            //     color: $color_muted;
            // }
        }
    }

    &__dateGroupp {
        display: flex;
        align-items: center;

        .formDate {
            max-width: 148px;
        }
    }

}

.formDate {
    position: relative;
    // margin-right: 20px;
    position: relative;
    // flex-grow: 1;
    // min-width: 0;

    .icon_date {
        position: absolute;
        right: 10px;
        top: 7px;
        font-size: 18px;
        color: #D8D8D8;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
            color: darken(#D8D8D8, 10%);
        }

        .dark & {
            color: #7B6565;

            &:hover {
                color: lighten(#7B6565, 10%);
            }
        }
    }

    &__line {
        border-top: 1px solid;
        width: 12px;
        margin: 4px;
    }

    .react-datepicker {
        border: 0;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);

        .dark & {
            background: #2E2E45;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            color: $color_withe;

            .react-datepicker__triangle {
                border-top-color: #2E2E45;

                &:before {
                    border-top-color: rgba(0, 0, 0, 0.01);
                }
            }

            &-popper[data-placement^="bottom"] .react-datepicker__triangle,
            &-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
                border-bottom-color: #2E2E45;
            }

            &-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
                border-bottom-color: rgba(0, 0, 0, 0.01);
            }

            .react-datepicker__header {
                background: #2E2E45 !important;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }

            .react-datepicker__current-month,
            .react-datepicker__day {
                color: $color_withe !important;
            }

            .react-datepicker__day-name {
                color: $color_dark_thems !important;
            }

            .react-datepicker__day:hover,
            .react-datepicker__month-text:hover,
            .react-datepicker__quarter-text:hover {
                background-color: transparent;
                position: relative;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    border: 1px solid;
                    border-radius: 0.3rem;
                }
            }

            .react-datepicker__day--today,
            .react-datepicker__month-text--today,
            .react-datepicker__quarter-text--today {
                color: $color_dark_thems !important;
            }
        }
    }

    .react-datepicker-wrapper {
        width: 100% !important;
        line-height: normal;
        display: block;
        vertical-align: inherit;
    }

    .react-datepicker__input-container {
        width: 100% !important;
        line-height: normal;
        display: block;
        vertical-align: inherit;

        input {
            width: 100%;
            border-radius: 2px;
            color: #434054;
            background: $color_withe;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
            border-radius: 2px;
            border: 0;
            font-size: 14px;
            padding: 9px 35px 9px 12px;
            outline: 0;
            margin: 0;

            .dark & {
                background: #2E2E45;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                color: $color_withe;
            }

        }
    }
}

.swapTable {
    font-size: 14px;

    .dark & {
        color: $color_withe;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
    }

    &__header {
        font-weight: 600;
        color: $color_dark;

        .dark & {
            color: $color_withe;
        }
    }

    &__col {
        flex-grow: 1;
        padding: 13px 17px;

        &:first-child {
            width: 14%;
        }

        &:nth-child(2) {
            width: 12%;
        }

        &:nth-child(3) {
            width: 9%;
        }

        &:nth-child(4) {
            width: 19%;
        }

        &:nth-child(5) {
            width: 7%;
        }

        .dark & {}

        .swapTable {
            &__header & {
                &:first-child {
                    padding-left: 36px;
                }
            }
        }
    }

    &__date {
        color: #72707f;

        .dark & {
            color: rgba(224, 224, 255, 0.6);
        }
    }

    &__item {}

    &__from {}

    &__arrow {
        color: $color_muted;
        float: right;
        margin-top: 4px;
    }

    &__coin {
        margin-right: 17px;
        font-size: 21px;
        vertical-align: middle;

        .dark & {
            color: $color_light;
        }
    }

    &__to {}

    &__status {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icon_carret {
            margin-left: 15px;
            font-size: 10px;
            cursor: pointer;
            color: $color_light_thems;

            .dark & {
                color: $color_withe;
            }
        }

        &_panding {
            color: #16b862;

            .dark & {
                color: #00ffaa;
            }
        }

        &_filled {
            color: #ffaa00;

            .dark & {
                color: $color_warning;
            }
        }
    }

    &__toggle {}

    &__drop {
        width: 100%;
        border-radius: 2px;
        padding: 4px 0 20px;
        box-shadow: none;
        color: $color_light_thems;
        display: none;

        .dark & {
            color: rgba(255, 255, 255, 0.6);
        }

        &_open {
            display: block;
            box-shadow: 0 16px 16px rgba(20, 16, 41, 0.06), 0 4px 8px rgba(20, 16, 41, 0.06), 0 0 1px rgba(20, 16, 41, 0.12);

            .dark & {
                box-shadow: 0 10px 10px rgba(20, 16, 41, 0.1), 0 0 8px rgba(20, 16, 41, 0.24), 0 0 1px rgba(20, 16, 41, 0.4);
            }
        }

        .swapTable__col {
            padding: 9px 17px;
        }
    }

}

.icon_binance {}

.icon_arrow {}

.icon_carret {}

.txt {
    &_danger {
        color: #f54562;

        .dark & {
            color: #ff00aa;
        }
    }

    &_warning {
        color: #16b862;

        .dark & {
            color: #00ffaa;
        }
    }
}
