.nav-link:hover {
	cursor: pointer;
}

.add-wallet-btn {
	color: #fff;
	padding: 8px 40px;
	background: rgb(0, 248, 178);
	background: linear-gradient(90deg, rgba(0, 248, 178, 1) 0%, rgba(0, 197, 243, 1) 49%, rgba(64, 125, 246, 1) 100%);
	-webkit-box-shadow: 0 8px 12px rgba(0, 187, 255, 0.24), 0 2px 4px -1px rgba(10, 70, 82, 0.12),
		0 0 1px rgba(0, 187, 255, 0.24);
	box-shadow: 0 8px 12px rgba(0, 187, 255, 0.24), 0 2px 4px -1px rgba(10, 70, 82, 0.12),
		0 0 1px rgba(0, 187, 255, 0.24);
}
