.light-mode{
    background-color: #fff;
    color:#333
}
.dark-mode{
    background-color: #1a1919;
    color:#999
}



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    width: 100%;
}
.sidebar {
    max-width: 72px;
    width: 100%;
    position: fixed;
    left: 0;
    transition: all 0.3s;
    flex-shrink: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 5555;
   /*  filter: drop-shadow(1px 1px 0.1rem rgb(149, 149, 149)); */
    box-shadow: 0 8px 8px -4px rgba(20, 16, 41, 0.06), 0 16px 24px rgba(20, 16, 41, 0.12), 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px rgba(20, 16, 41, 0.12)
}
.sidebar:hover {
    max-width: 300px;
    width: 100%;
    position: fixed;
    left: 0;
    transition: all 0.3s;
    flex-shrink: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 5555;
   /*  filter: drop-shadow(1px 1px 0.1rem rgb(149, 149, 149)); */
    box-shadow: 0 8px 8px -4px rgba(20, 16, 41, 0.06), 0 16px 24px rgba(20, 16, 41, 0.12), 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px rgba(20, 16, 41, 0.12)
}
 .sidebar::after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgb(255, 255, 255);
    z-index:-1;
  } 
.dark-mode .sidebar {
    box-shadow: 0 8px 8px -4px rgba(226, 226, 226, 0.12), 0 16px 24px rgba(226, 226, 226, 0.12), 0 2px 4px -1px rgba(226, 226, 226, 0.12), 0 0 1px rgba(226, 226, 226, 0.12)
}
.dark-mode .sidebar::after {
background:rgb(36, 36, 36);
} 
.sidebar.active {
    margin-left: -200px;
}

/* ---------------------------------------------------
     MENU SIDEBAR
----------------------------------------------------- */

.close-sidebar{
    display: none;
    transition: all 0.3s;
}
.open-sidebar{
    display: block;
    
}
.letters{
    position: absolute;
    margin-top: -20px;
    margin-left: 50px;
    font-size: medium;
    font-weight:600 ;

}
.sidebar-add{
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.sidebar-button-add{
    border: none;
    background: transparent
}
.sidebar-icons{
    transform:scale(1.5)
}
.sidebar-logo-close{
    max-width: 72px;
    margin-top: 24px;
    margin-left: 22px;
}
.sidebar-logo-open{
    max-width: 100%;
}
.sidebar-night-close{
    max-width: 72px;
    margin-top: 47px;
    margin-left: 26px;
    cursor: pointer;
}
.sidebar-navigation-icons-close{
    max-width: 72px;
    margin-top: 80px;
    margin-left: 29px;
    z-index: 999;
}
.sidebar-navigation-tabs{
    width: 100%;
    margin-top: 32px;
    cursor: pointer;
}

.selected-component{
    position: absolute;
    z-index: 1;
    left:0;
    top:180px;
    width: 100%;
    height: 4em;
    background-color: rgba(211, 244, 255, 0.274);
    border-left:3px solid rgb(0,187,255) 
}
.selected-component.history{
    top:287px;
}
.selected-component.dashboard{
    top:235px;
}
.sidebar-nav-link{
    color:rgb(161,159,169);
}

.sidebar-nav-link.active{
    color:rgb(0,187,255)
}

.sidebar-crypoto-icons-close{
    max-width: 72px;
    margin-top: 115px;
    margin-left: 27px;
}
.sidebar-coin{
    max-width: 72px;
    margin-top: 32px; 
}
.sidebar-wallet{
    max-width: 72px;
    margin-top: 55px;
    margin-left: 23px;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    height: 100vh;
    width:100%;
    margin-left: 115px;
    transition: all 0.3s;
    text-align: justify
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width:992px) {
    #sidebar {
        margin-left: -290px;
    }

    #sidebar.active {
        margin-left: 0;
    }
    #content {
        margin-left:50px;
        width: 100%;
    }
    #content.active {
        width: calc(100% - 270px);
    }
    .nav-top{
        margin-left: 0px;
    }
    .nav-bot{
        margin-left: 0px;
        margin-right:430px;
        background:none;
    }
    .nav-expand{
        margin-left:0px;
    }
    #buscar{
        width:100px
    }
    #boton1{
        position:absolute;
        z-index:1;
        top:-200px;
        left:-200px;
    }
    #boton2{
        position:absolute;
        z-index:1;
        top:-200px;
        left:0px;

    }
    .burger_position{
        display: block;
    }
}

#imgUser{
    border:solid 5px #131B41;
    border-radius: 50%;
z-index: 3;
width: 120px;
height: 120px;
position: absolute;
display: block;
left: 50%;
top:30px;
-webkit-transform: translate(-50%, 0);
transform: translate(-50%, 0);
object-fit: cover;
/* -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(5px 5px 5px #222);
  transition: all 0.3s; */
}






