.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 3px 16px !important;
    overflow-wrap: break-word;
}
.ant-table {
font-size: 10px !important
}

.buy-and-sell-card{
    height: auto
}
.buy-and-sell-card .ant-card-body{
    padding: 0px !important;
}
.common-info-card{
    height: auto 
}
.common-info-card .ant-card-body{
    padding: 10px !important; 
}
.graph-card-table {
    height: 52.5vh;
  overflow-y: auto 
}
.graph-card-table .ant-card-body{
        padding: 0px !important; 
}
.price-card-table{
    height: auto 
}

.price-card-table .ant-card-body {
    padding: 0px !important;  
    }

.price-card-buttons{
    float: left;
}
.price-card-date{
    float: left;
    font-size: 10px;
    padding-top: 0.5em;
}
.price-card-date-line{
   border-top:1px solid rgb(100, 100, 100);
   width: 10px;
   margin:0px 10px;
   margin-top: 9px;
   position: absolute
}
.price-card-button{
    background-color: transparent;
    padding: 3px 2em;
    font-size: 10px;
    border-radius: 6%;
    border: 1px solid #EFEFF0;
    box-shadow: 1px 1px 1px #F4F4F4;
    outline: none;
    cursor: pointer;
}
.price-card-selectors{
    float: left;
    font-size: 10px;

}
.price-card-selector{
    position: absolute;
    margin-top: -17px
}
.price-card-selector .ant-select-selection {
    /* margin-top: -17px;
    position: absolute; */
    background-color: transparent;
    border: none !important;
    font-size: 10px;
    font-weight: 600
}