$icomoon-font-family: "orion" !default;
$icomoon-font-path: "/fonts/orion/fonts" !default;

$icon_search: "\e907";
$icon_chart: "\e903";
$icon_wallet: "\e905";
$icon_wanchain: "\e904";
$icon_wanchain1: "\e906";
$icon_ethereum: "\e901";
$icon_bitmax: "\e902";
$icon_binance: "\e900";
$icon_copy: "\e909";
$icon_spinn: "\e90a";
$icon_close: "\e90b";
$icon_alert: "\e90c";
$icon_zoom: "\e914";
$icon_prev: "\e915";
$icon_next: "\e916";
$icon_arrow: "\e917";
$icon_date: "\e918";
$icon_change: "\e919";
$icon_carret: "\e91a";
$icon_add: "\e91b";
$icon_dash: "\e91c";
$icon_bitcoin: "\e91e";
$icon_clock: "\e91f";
$icon_grid: "\e920";
$icon_swap: "\e921";
$icon_home: "\e922";
$icon_moon: "\e923";

@font-face {
    font-family: '#{$icomoon-font-family}';
    src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?8zmqxe") format('truetype'), url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?8zmqxe") format('woff'), url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?8zmqxe##{$icomoon-font-family}") format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon_"],
[class*=" icon_"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon_search {
    &:before {
        content: $icon_search;
    }
}

.icon_chart {
    &:before {
        content: $icon_chart;
    }
}

.icon_wallet {
    &:before {
        content: $icon_wallet;
    }
}

.icon_wanchain {
    &:before {
        content: $icon_wanchain;
    }
}

.icon_wanchain1 {
    &:before {
        content: $icon_wanchain1;
    }
}

.icon_ethereum {
    &:before {
        content: $icon_ethereum;
    }
}

.icon_bitmax {
    &:before {
        content: $icon_bitmax;
    }
}

.icon_binance {
    &:before {
        content: $icon_binance;
    }
}

.icon_copy {
    &:before {
        content: $icon_copy;
    }
}

.icon_spinn {
    &:before {
        content: $icon_spinn;
    }
}

.icon_close {
    &:before {
        content: $icon_close;
    }
}

.icon_alert {
    &:before {
        content: $icon_alert;
    }
}

.icon_zoom {
    &:before {
        content: $icon_zoom;
    }
}

.icon_prev {
    &:before {
        content: $icon_prev;
    }
}

.icon_next {
    &:before {
        content: $icon_next;
    }
}

.icon_arrow {
    &:before {
        content: $icon_arrow;
    }
}

.icon_date {
    &:before {
        content: $icon_date;
    }
}

.icon_change {
    &:before {
        content: $icon_change;
    }
}

.icon_carret {
    &:before {
        content: $icon_carret;
    }
}

.icon_add {
    &:before {
        content: $icon_add;
    }
}

.icon_dash {
    &:before {
        content: $icon_dash;
    }
}

.icon_bitcoin {
    &:before {
        content: $icon_bitcoin;
    }
}

.icon_clock {
    &:before {
        content: $icon_clock;
    }
}

.icon_grid {
    &:before {
        content: $icon_grid;
    }
}

.icon_swap {
    &:before {
        content: $icon_swap;
    }
}

.icon_home {
    &:before {
        content: $icon_home;
    }
}

.icon_moon {
    &:before {
        content: $icon_moon;
    }
}
