.your-profit {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4%;
  width: 100%;

}

.your-profit h2 {
  font-size: 16px;
}

.dark-mode .your-profit h2 {
  color: #fff;
}

.your-profit-data {
  background-color: #fff;
  width: 100%;
  min-height: 13vh;
}

.dark-mode .your-profit-data {
  background-color: #2a2a41;
}

.your-profit-data > .exchange > .numbers {
  /* background-color: blueviolet; */
  border-top: 2px solid rgb(237, 240, 244);
  margin-top: 10px;
}

.dark-mode .your-profit-data > .exchange > .numbers {
  border-top: 1px solid rgba(224, 224, 255, 0.6);
}

.your-profit-data > .exchange > .numbers > span {
  display: block;
  color: rgb(65, 195, 0);
  font-size: 9px;
}

.your-profit-data > .exchange > .numbers.center,
.your-profit-data > .exchange > .name.center {
  border-right: 2px solid rgb(237, 240, 244);
  border-left: 2px solid rgb(237, 240, 244);
}

.dark-mode .your-profit-data > .exchange > .numbers.center,
.dark-mode .your-profit-data > .exchange > .name.center {
  border-right: 1px solid rgba(224, 224, 255, 0.6);
  border-left: 1px solid rgba(224, 224, 255, 0.6);
}

.your-profit-data > .exchange > div {
  text-align: center;
}

/* .your-profit-data .rec-carousel {
  height: 100% !important;
} */

.your-profit-data .rec-item-wrapper > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  color: #fff;
}

.your-profit h2 {
  margin-bottom: 0;
}

@media (min-width: 1500px) {
  .your-profit h2 {
    font-size: 24px;
  }
}
.profits-arrows {
  border: none;
  background: transparent;
  color: rgb(139, 139, 139);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profits-arrows > i {
  font-size: 18px;
}
.your-profit-data > .exchange {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
}
.your-profit-data > .exchange > .numbers {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.your-profit-data .slide {
  text-align: center;
  color: #434343;
  margin-top: 15px;
  margin-bottom: 15px;
}

.your-profit-data .slide p {
  margin: 0;
}

.dark-mode .your-profit-data .slide {
  color: #fff;
}
