.wrapper-pair.js-wrapper-pair.active {
	display: block;
}

.wrapper-pair.js-wrapper-pair {
	display: hidden;
}

.common-info.js-panel-item.js-pair {
	/* background-color: blueviolet; */
	width: 100%;
}
